{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{player.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldName">Player Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Player Name" name="fldName" value="{{player.fldName}}">
        </div>
        <div class="col">
            <label for="fldTeam">player Country</label>
            <input id="fldTeam" type="text" class="form-control" placeholder="player Team" name="fldTeam" value="{{player.fldTeam}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldAge">player Latitude</label>
            <input id="fldAge" type="text" class="form-control" placeholder="player Age" name="fldAge" value="{{player.fldAge}}">
        </div>
        <div class="col">
            <label for="fldWeight_lbs">player Longitude</label>
            <input id="fldWeight_lbs" type="text" class="form-control" placeholder="player Weight" name="fldWeight_lbs" value="{{player.fldWeight_lbs}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldHeigh_inches">Capital Status</label>

            <input id="fldHeigh_inches" type="text" class="form-control" placeholder="Height"
                   name="fldHeigh_inches" value="{{player.fldHeigh_inches}}">
        </div>
        <div class="col">
            <label for="fldPosition">player Population</label>
            <input id="fldPosition" type="text" class="form-control" placeholder="Position" name="fldPosition" value="{{player.fldPosition}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

