{% extends "layout.html" %}
{% block content %}
<form action="/players/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldName">Player Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Player Name" name="fldName">
        </div>
        <div class="col">
            <label for="fldTeam">Player Team</label>
            <input id="fldTeam" type="text" class="form-control" placeholder="Player Team"
                   name="fldTeam">
        </div>
        <div class="col">
            <label for="fldPosition">Player Position</label>
            <input id="fldPosition" type="text" class="form-control" placeholder="Player Position" name="fldPosition">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldHeight_inches">Player Latitude</label>
            <input id="fldHeight_inches" type="text" class="form-control" placeholder="Player Height" name="fldHeight_inches">
        </div>
        <div class="col">
            <label for="fldWeight_lbs">Player Longitude</label>
            <input id="fldWeight_lbs" type="text" class="form-control" placeholder="Player Weight" name="fldWeight_lbs">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldAge">Capital Status</label>

            <input id="fldAge" type="text" class="form-control" placeholder="Age"
                   name="Age">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}

